---
- Name: foo
  Cron: "* * * * * *"
  Container:
      HostConfig:
          AutoRemove: true
      Config:
          Image: busybox:latest
          Cmd:
              - echo
              - its foo
- Name: bar
  Cron: "* * * * * *"
  Container:
      HostConfig:
          AutoRemove: true
      Config:
          Image: openjdk:7-jre-alpine
          Cmd:
              - /bin/sh
              - '-C'
              - echo its bar

- Name: baz
  Cron: "* * * * * *"
  Container:
      HostConfig:
          AutoRemove: true
      Config:
          Image: mattbailey/dfksdalfaslkj
          Cmd:
              - echo
              - its baz
